@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/* Masthead */
.header, .footer, .header h3 { 
	font-family: 'Montserrat', Helvetica, sans-serif; 
	text-transform: uppercase; 
	font-weight: normal;
}

.header {
	top: -260px;
	position: relative;
}

/* CV */
.cv {line-height: 23px; margin: 0 auto;}
.cv li { line-height: 23px; }
.cv h2 { font-size: 26.5px; }
.cv h1 { font-size: 32.5px; }

.contact, .about, .cv { margin-bottom: 30px; }

.pull-right {
	float: right !important;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
	position: relative;
	display: block;
}

.nav-pills > li {
	float: left;
}

.nav-pills > li > a {
    border-radius: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
	background-color: #eeeeee;
	color: #485564;
}

.nav > li > a {
    position: relative;
    display: block;
	padding: 10px 15px;
	color:azure;
	float: left;
	text-decoration: none;
}